.basic01{
    font-style: oblique;
    font-family: "Georgia", serif;
    background-color:black;
    color: aqua;
}

.basic02{
    font-family: 'Courier New', Courier, monospace;
    background-color: LightGray;
    color: black;
}